.textj{
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.grid-containerj {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 25%;
    margin-top: 3%;
  }
  .grid-itemj {
    width: 65%;
    border: 1px solid rgba(165, 162, 162, 0.2);
    font-size: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    margin-left: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  }
  .grid-itemj1 {
    width: 80%;
    border: 1px solid rgba(165, 162, 162, 0.2);
    font-size: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    margin-left: -80px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  }
  .grid-itemj p{
      font-size: 18px;
      color: rgb(82, 79, 79);
      margin-top: -20px;
  }
  .grid-itemj1 p{
    font-size: 18px;
    color: rgb(82, 79, 79);
    margin-top: -20px;
}
.grid-itemj h5{
    margin-top: 10px;
}
.grid-itemj1 h5{
    margin-top: 10px;
}
.grid-itemj a{
    text-decoration: none;
    font-size: 14px;
    color: #0284FE;
    font-weight: bold;
}  
.grid-itemj1 a{
    text-decoration: none;
    font-size: 14px;
    color: #0284FE;
    font-weight: bold;
}  
.grid-itemj a:hover{
    color: blue;
}
.grid-itemj1 a:hover{
    color: blue;
}